<div class="row">
	<div class="column" graph-cell>
		<h2>Deploys per week</h2>

		<nvd3-line-chart
	        data="deploysPerWeek"
			interactive="true"
	        tooltips="true"
	        showXAxis="true"
			showYAxis="true"
			height="200"
			xAxisTickFormat="formatFunctionOnlyIntegers()"
	        >
	    </nvd3-line-chart>

		<h2>Lead time per item (moving average: 3)</h2>

		<nvd3-line-chart
	        data="averageLeadTime"
    		interactive="true"
	        tooltips="true"
	        showXAxis="true"
    		showYAxis="true"
    		height="200"
    		xAxisTickFormat="formatFunctionOnlyIntegers()"
	        >
	    </nvd3-line-chart>
	</div>
</div>