﻿<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">Barometer</title>
    <meta name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- build:css -->
    <link href="content/app.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="bower_components/nvd3/nv.d3.css"/>
    <!-- endbuild -->
</head>
<body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="navbar navbar-inverse" role="banner" ng-if=" !layout ">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".spa-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Barometer</a>
            </div>
            <nav class="collapse navbar-collapse spa-navbar-collapse" role="navigation" ng-controller="NavigationCtrl">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{ active: isActive('/retrospective')}">
                        <a ui-sref="retrospective">Retrospectives</a>
                    </li>
                    <li ng-class="{ active: isActive('/leadTime')}">
                        <a ui-sref="leadTime">Lead times</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    <section class="container" ui-view></section>

    <!-- build:js-vendor -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/nv.d3.js"></script>
    <script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
    <!-- endbuild -->

    <!-- build:js-scripts -->
    <script src="components/app-controller.js"></script>
    <script src="components/retrospective/retrospective.js"></script>
    <script src="components/retrospective/retrospective-service.js"></script>
    <script src="components/retrospective/retrospective-controller.js"></script>
    <script src="components/leadtime/leadtime.js"></script>
    <script src="components/leadtime/leadtime-service.js"></script>
    <script src="components/leadtime/leadtime-controller.js"></script>
    <script src="components/app.js"></script>
    <!-- endbuild -->
	

</body>
</html>