<div class="row">
    <table class="table">
	    <tr>
	    	<td></td>
	    	<td graph-cell="third">
	    		<nvd3-line-chart
			        data="moraleChart"
			        margin="{left:10,top:10,bottom:10,right:10}"
			        forcey="[0,9]"
	        		interactive="true"
			        tooltips="true"
			        showXAxis="false"
	        		showYAxis="true"
			        >
			    </nvd3-line-chart>
	    	</td>
	    	<td graph-cell="third">
	    		<nvd3-line-chart
			        data="qualityChart"
			        margin="{left:10,top:10,bottom:10,right:10}"
			        forcey="[0,9]"
	        		interactive="true"
			        tooltips="true"
			        showXAxis="false"
	        		showYAxis="true"
			        >
			    </nvd3-line-chart>
		    </td>
	    	<td graph-cell="third">
	    		<nvd3-line-chart
			        data="flowChart"
			        margin="{left:10,top:10,bottom:10,right:10}"
			        forcey="[0,9]"
	        		interactive="true"
			        tooltips="true"
			        showXAxis="false"
	        		showYAxis="true"
			        >
			    </nvd3-line-chart>
	    	</td>
	    </tr>
	    <tr>
	    	<th>
	    		Date
	    	</th>
	    	<th>
	    		Morale
	    	</th>
	    	<th>
	    		Quality
	    	</th>
	    	<th>
	    		Flow
	    	</th>
	    </tr>
		<tr ng-repeat="retrospective in retrospectives">
	    	<td>
	    	{{retrospective.date}}
	    	</td>
	    	<td>
	    		<span ng-if="$first" am-huge-text>
	    			{{retrospective.barometer.morale.toFixed(1)}} 
	    		</span>
	    		<span ng-if="!$first">
	    			{{retrospective.barometer.morale.toFixed(1)}}
	    		</span>
    			<span ng-if="retrospective.barometer.compare.morale === -1" class="red glyphicon glyphicon-arrow-down"></span>

    			<span ng-if="retrospective.barometer.compare.morale === 1" class="green glyphicon glyphicon-arrow-up"></span>
	    	</td>
	    	<td>
	    		<span ng-if="$first" am-huge-text>
	    			{{retrospective.barometer.quality.toFixed(1)}}
	    		</span>
	    		<span ng-if="!$first">
	    			{{retrospective.barometer.quality.toFixed(1)}}
	    		</span>

	    		<span ng-if="retrospective.barometer.compare.quality === -1" class="red glyphicon glyphicon-arrow-down"></span>

    			<span ng-if="retrospective.barometer.compare.quality === 1" class="green glyphicon glyphicon-arrow-up"></span>
	    	</td>
	    	<td>
	    		<span ng-if="$first" am-huge-text>
	    			{{retrospective.barometer.flow.toFixed(1)}}
	    		</span>
	    		<span ng-if="!$first">
	    			{{retrospective.barometer.flow.toFixed(1)}}
	    		</span>

	    		<span ng-if="retrospective.barometer.compare.flow === -1" class="red glyphicon glyphicon-arrow-down"></span>

    			<span ng-if="retrospective.barometer.compare.flow === 1" class="green glyphicon glyphicon-arrow-up"></span>
	    	</td>
		</tr>
	</table>
	</div>
</div>